
body{
    font-family: "Open Sans" ,sans-serif;
}
#navbar{
    background-color:white;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    border-radius: 7px;
    color:black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; 
    font-weight:500;/* Important for vertical align on mobile phones */
  }
  
  /* Add a green background color to navbar links on hover */
.dropdown:hover .dropbtn {
    background-color:#89fc00;
    transition: 0.8s;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

#explore {
    height: 53px;
    width: 300px;
    border-radius: 7px;
    font-size: 20px;
    border: none;
    background-color: white;
}
#explore:hover{
    background-color:  #89fc00;
    transition: 0.8s;
}
#navimage{
    height:120px;
    width:150px;
    background-image: url("images/logo.png");    
    background-size: cover;
    padding-top: 20px;
}

#search{
    width: 350x;
    height: 30px;
    border-radius: 4px;
    outline: 2.5px solid #40BA37;
    padding-left: 20px;
    
    margin-right: 10px;
}
#mainimage{
    height:650px;
    margin: 0px 50px 83px 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
#btn{
    border-radius: 4px;
    height: 37px;
    width: 70px;
    background-color: #40BA37;
    color: white;
    font-size: 17px;
    border: none;
}
#main3 img{
    
    height: 648px;
    width: 465px;
    object-fit: cover;
}
#main2images{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 170px 0px 170px;
    justify-content: space-between;
}

#image1 img {
    object-fit: cover;
    height:256px;
    width: 545px;
    border-bottom: 5px solid red;
  } 
#midname{
    font-size: 40px;
    height: 50px;
    margin-top: 80px;
    align-items: center;
    display: flex;
    justify-content: center;

}
#grid{
    height: 800px;
    margin :70px 170px 40px 170px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#smallsix{
    height: 400px;
    width: 330px;
    
}
#imgdiv img{
    height: 286px;
    width: 330px;
    object-fit: cover;
    border-bottom: 5px solid red;
}
#recipename{
    height: 113px;
    font-size: 20px;
    display: flex;
    padding-top: 28px;
    justify-content: center;
}
#large{
    height: 670px;
    background-image: url("images/mainlarge2.jpg");
    background-size: cover;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}
#caption1{
    height: 40px;
    width: 1500px;
    font-family: "Open Sans" ,sans-serif;
    position: relative;
    top: 160px;
    left: 50px;
    color: white;
    font-size: 70px;
}
#caption{
    height: 40px;
    width: 1000px;
    font-family: "Open Sans" ,sans-serif;
    font-size: 25px;
    color: white;
    position: relative;
    top: 360px;
    left: 240px;
}
#newdish{
    height: 65px;
    width: 350px;
    border-radius: 2px;
    background-color: #40BA37;
    border: none;
    font-size: 19px;
    font-family: "Open Sans" ,sans-serif;
    font-weight: 600;
    color: white;
    position: relative;
    top: 400px;
    left: 560px;
}
#newdish:hover{
    border: 3px solid white;
}
#minis{
    height:370px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 170px 20px 170px;
}
#mini6{
    
    height:130px;
    width: 350px;
    display: flex;
}
#imgdiv2 img{
    width: 127px;
    height: 127px;
    object-fit: cover;
    border-bottom: 4px solid red;
}
#recipename2{
    height:130px;
    width:380px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    font-size: 16px;
}
#photodiv{
    background-color: #40BA37;
    height: 450px;
    margin: 20px 170px 80px 170px;
    display: flex;
    justify-content: space-evenly;
}
#inphotodiv1{
    margin-top: 5px;
    margin-bottom: 6px;
    height: 440px;
    width: 381px;
    background-image: url("images/foodquote2.jpg");
    background-size: cover;
}
#inphotodiv2{
    margin-top: 5px;
    margin-bottom: 6px;
    height: 440px;
    width: 381px;
    background-image: url("images/foodquote1.jpg");
    background-size: cover;
}
#inphotodiv3{
    margin-top: 5px;
    margin-bottom: 6px;
    height: 440px;
    width: 381px;
    background-image: url("images/foodquote3.jpg");
    background-size: cover;
}

#contact{
    height: 150px;
    background-color: #40BA37;
    color: white;
    padding-top: 60px;
    padding-left: 180px;
    display: flex;
    border-bottom: 4px solid red;
}
#indiv{
    display: flex;
    margin-top: 22px;
    margin-left: 45px;
}
i{
    padding-left: 20px;
    font-size: 50px;
}

a{
    text-decoration: none;
    color: black;
}


